<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="static/bootstrap/css/darkthemefull.css" />
    <link rel="stylesheet" href="static/font-awesome/css/all.css" />

    <title>Volume Slider</title>
  </head>
  <body>
    <div class="card" id="container">
      <div class="card-body">
        {% for session in sessions %}
        <div class="card card text-white bg-secondary" id={{ "div" ~ session.process_id}}>
          <div class="card-header">
            <div class="d-flex p-2">
              <h2 style="flex: 1;">{{session.name}}</h2>
              {% if session.is_muted %}
              <i
                class="fas fa-volume-mute fa-2x"
                style="align-self: center;"
                onclick="unmute(this)"
                pid="{{session.process_id}}"
              ></i>
              {% else %}
              <i
                class="fas fa-volume-up fa-2x"
                style="align-self: center;"
                onclick="mute(this)"
                pid="{{session.process_id}}"
              ></i>
              {% endif %}
            </div>
          </div>
          <div class="card-body">
            <form id="{{session.process_id}}">
              <div class="form-group">
                <input
                  type="range"
                  class="custom-range"
                  min="0"
                  max="100"
                  value="{{session.volume
                * 100}}"
                onchange="changeVolume(this)"
                />
              </div>
            </form>
          </div>
        </div>
        <hr />
        {% endfor %}
      </div>
    </div>
    <script src="static/jquery-3.5.1.min.js"></script>
    <script
      src="static/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script>
      function changeVolume(source){
        let pid = $(source).closest("form").attr("id");
          $.ajax({
            type: "POST",
            url: "volume",
            data: JSON.stringify({
              pid: pid,
              volume: source.value,
            }),
            contentType: "application/json",
            dataType: "json"
          });
      }
      function mute(origin) {
        muteUnmute($(origin).attr("pid"), true);
      }

      function unmute(origin) {
        muteUnmute($(origin).attr("pid"), false);
      }

      function muteUnmute(pid, mute) {
        $.ajax({
          type: "POST",
          url: "mute",
          data: JSON.stringify({
            pid: pid,
            mute: mute,
          }),
          contentType: "application/json",
          dataType: "html",
          success: function (data) {
              $("#div" + pid).html(data);
            },
        });
      }
    </script>
  </body>
</html>
