<div class="card-header">
  <div class="d-flex p-2">
    <h2 style="flex: 1;">Master</h2>
    {% if master.is_muted %}
    <i
      class="fas fa-volume-mute fa-2x"
      style="align-self: center;"
      onclick="unmuteMaster()"
    ></i>
    {% else %}
    <i
      class="fas fa-volume-up fa-2x"
      style="align-self: center;"
      onclick="muteMaster()"
    ></i>
    {% endif %}
  </div>
</div>
<div class="card-body">
  <form id="{{session.process_id}}">
    <div class="form-group">
      <input
        type="range"
        class="custom-range"
        min="0"
        max="100"
        value="{{master.volume
      * 100}}"
        onchange="changeMasterVolume(this)"
      />
    </div>
  </form>
</div>
